h1,
text{
  font-family: Arial, Helvetica, sans-serif;
}

.axis {
    font-size: 10px;
}

.line{
    fill: none;
    stroke: blue;
    shape-rendering: crispEdges;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: 0;
  }

aside{
  margin-top: 70px;
    float: left;
}

  .numberCircle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 22px 6px 22px 6px;
    padding: 7px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 24px Arial, sans-serif;
  }

  .c1{
    color: grey;
    border-color: grey;
  }
  .c2{
    color: purple;
    border-color: purple;
   }
  .c3{
    color: blue;
    border-color: blue;
   }
  .c4{
    color: green;
    border-color: green;
  }
  .c5{
    color: rgb(250, 196, 61);
    border-color: rgb(250, 196, 61);
  }
  .c6{
    color: orange;
    border-color: orange;
  }
  .c7{
    color: red;
    border-color: red;
  }
  .c8{
    color: rgb(148, 47, 47);
    border-color: rgb(148, 47, 47);
  }
