#root {
    width: 100%;
    height: 100%;
}

.App {
    text-align: center;
    background: #1D7FB0;
    height: 100%;
    overflow: hidden;
}

.App.PlayerP300 {
    text-align: center;
    background: #000000;
}

.App-logo {
    height: 38px;
}

.App-header {
    height: 38px;
    padding: 20px 0px 0px 0px;
    color: black;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    display: table;
}

.App-header img {
    display: table-cell;
    vertical-align: middle
}

.App-title {
    font-size: 1.5em;
    color: #FFF;
    margin: 0;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle
}

.selectPlayer {
    display: inline;
    background: url(img/arrow-down.png) no-repeat 96% 40%;
    height: 29px;
    overflow: hidden;
    width: 100px;
}

.selectPlayer select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 1em;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px;
    width: 80px;
}

.selectPlayer select option {
    color: #000;
    font-size: 1em;
}